html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/trees.gif);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#main {

    background-color: rgba(31, 99, 0, 0.5);
    padding-top: 1em;
    width: 60%;


    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin-top: 6vh;
}

#root {
    padding-bottom: 1em;
}

@media only screen and (max-width: 767px) {
  #main {
    width: 100%;
  }

}