html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/backgrounds/clovers.gif);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#main {
    padding-top: 1em;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Generic class for centering */
.center-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}

#root {
    padding-bottom: 1em;
}


@media only screen and (max-width: 767px) {
    #main {
        width: 100%;
    }

}