/* Symbol */
#symbols-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    padding: 2em;
}

.symbol {
    padding: 1em;
    /* background-image: url(/assets/backgrounds/rainbow-bg.gif); */
    background-color: rgba(7, 122, 36, 0.61);
    border-radius: 12px;
}
