* {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(249, 249, 249);
}

#root {
  width: 60%;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

img {
  width: 100%;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
}

input {
  font-family: sans-serif;
}